{% extends 'flatpages/default.html' %}

{% load i18n %}

{% load custom_filters %}

{% block title %}
News
{% endblock title %}

{% block content %}
<h1>{% trans "Number of news per page" %}: {{ news|length }}</h1>

{% load cache %}
    {% cache 30 add_news %}
        {% if perms.accounts.add_post %}
        <a href="{% url 'post_create' %}">{% trans "Add post" %}</a>
        {% endif %}
    {% endcache %}
<hr>
    {% if news %}
        <table>
            <tr>
                <td>{% trans "Title" %}</td>
                <td>{% trans "Publication date" %}</td>
                <td>{% trans "Text" %}</td>
                {% if perms.accounts.change_post or perms.accounts.delete_post %}
                <td>{% trans "Actions" %}</td>
                {% endif %}

            </tr>

            {% for news_detail in news %}
            <tr>
                <td>{{ news_detail.title|censor }}</td>
                <td>{{ news_detail.dateCreation|date:'d M Y' }}</td>
                <td>{{ news_detail.text|truncatewords:20 }}</td>

                <td>
                    {% if perms.accounts.change_post %}
                    <a href="{% url 'post_edit' news_detail.id %}">{% trans "Edit" %}</a>
                    {% endif %}
                    {% if perms.accounts.delete_post %}
                    <a href="{% url 'post_delete' news_detail.id %}">{% trans "Delete" %}</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}

        </table>
    {% else %}
        <h2>{% trans "No news" %}</h2>
    {% endif %}

           {% if page_obj.has_previous %}
               <a href="?page=1">1</a>
               {% if page_obj.previous_page_number != 1 %}
                   ...
                   <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
               {% endif %}
           {% endif %}

           {{ page_obj.number }}

           {% if page_obj.has_next %}
               <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
               {% if paginator.num_pages != page_obj.next_page_number %}
                   ...
                   <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
               {% endif %}
           {% endif %}

{% endblock content %}