{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
{% trans "Search" %}
{% endblock title %}

{% block content %}

    <form action="" method="get">
        {{ filterset.form.as_p }}
        <input type="submit" value="Найти" />
    </form>

<hr>
    {% if news %}
        <table>
            <tr>
                <td>{% trans "Title" %}</td>
                <td>{% trans "Publication date" %}</td>
                <td>{% trans "Text" %}</td>
            </tr>

            {% for news_detail in news %}
            <tr>
                <td>{{ news_detail.title|censor }}</td>
                <td>{{ news_detail.dateCreation|date:'d M Y' }}</td>
                <td>{{ news_detail.text|truncatewords:20 }}</td>
            </tr>
            {% endfor %}

        </table>
    {% else %}
        <h2>{% trans "No news" %}</h2>
    {% endif %}

   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}