{% extends 'flatpages/default.html' %}

{% block title %}
<h2>{% trans "Subscribtions" %}</h2>
{% endblock title %}

{% block content %}
    {% for category in categories  %}
        <p>
            {{ category.name }}
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="category_id" value="{{ category.id }}" />
                    {% if category.user_subscribed %}
                        <button disabled><h2>{% trans "Subscribe" %}</h2></button>
                        <button name="action" value="unsubscribe"><h2>{% trans "Unsubscribe" %}</h2></button>
                    {% else %}
                        <button name="action" value="subscribe">{% trans "Subscribe" %}</button>
                        <button disabled>{% trans "Unsubscribe" %}</button>
                    {% endif %}
            </form>
        </p>
    {% endfor %}
{% endblock content %}