<!DOCTYPE html>

{% load i18n %}

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>News Paper</title>

        {% load static %}

        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <form action="{% url 'set_language' %}" method="POST"> {% csrf_token %}
            <input type="hidden" name="next" value="{{ redirect_to }}">
            {% get_current_language as LANGUAGE_CODE %}
            <select name="language" id="">
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}

                {% for language in languages %}
                    <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                        {{ language.name_local }} - {{ language.code }}
                    </option>
                {% endfor %}
            </select>
        <input type="submit" value="set">
    </form>

            {% trans "Check out my new cool translation" %}
        <!-- Page content-->
        <div class="container">
           <div class="row">
               <div class="col-lg-12 text-center">
                   {% block content %}
                   {{ flatpage.content }}
                   {% endblock content %}
               </div>
           </div>
        </div>
    </body>
</html>
